/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */





a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */ 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there }*/


/* footer area*/

footer {
    height: 400px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #053742;
    color: white;
}

.containerr {
    display: flex;
    padding: 3rem;
}

    .containerr .section {
        flex-basis: 50%;
        padding: 0px 10%;
    }

.section h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section .contentt {
    margin: 20px 0 0 0;
    position: relative;
}

    .section .contentt::before {
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
    }

    .section .contentt::after {
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background-color: #dd5f24;
        top: -10px;
    }


.containerr .left {
    left: 0;
    padding-left: 0px;
}

.left .contentt .social {
    margin: 20px 0 0 0;
}

    .left .contentt .social a {
        padding: 0 2px;
    }

        .left .contentt .social a span {
            height: 40px;
            width: 40px;
            background: transparent;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 50px;
            transition: 0.4s;
            border: 1px solid #656565;
        }


            .left .contentt .social a span:hover {
                background: #dd5f24;
            }

.center .contentt .fas {
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #656565;
}

    .center .contentt .fas:hover {
        background: #dd5f24;
        border: 1px solid #dd5f24;
    }

.center .contentt .text {
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .contentt .phone {
    margin: 15px 0;
}
/*
.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form input {
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

    .right form .btn button {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        background: #6b6dcd;
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
    }


        .right form .btn button:hover {
            background: #000;
        }
    */
.footer-bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #fff;
}

    .footer-bottom center span {
        color: #656565;
    }

    .footer-bottom center a {
        text-decoration: none;
    }

        .footer-bottom center a:hover {
            text-decoration: underline;
        }

@media screen and (max-width:700px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .left .content {
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .containerr {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0.5rem;
    }

        .containerr .section {
            margin: 5px 0;
        }
}



