<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

</head>
<body>




    @{ ViewData["Title"] = "About"; }
    <div class="abo">

        <h1>About US</h1>
    </div>
    <div class="paragraph">
        <p>
            This web Application was developed by <br />
            1. Selome Habtamu<br />
            2. Sidona Hadis<br />
            3. Simon G/hiwot<br />
            4. Yerom Paulos<br />
            5. Wubdil Israel


        </p>
    </div>
   
</body>
</html>
